<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <style>
        body {
            background-color: #ffff00; 
        }

        .header {
            font-family: "Comic Sans MS", cursive; 
            color: white; 
            text-align: center; 
            font-size: 50px; 
        }

        .logo {
            width: 100px;
            display: block; 
            margin: 0 auto; 
        }

        hr {
            border-color: white; 
        }

        input[type="text"],
        input[type="password"],
        input[type="email"] {
            border: 1px solid black; 
        }

        .btn-primary {
            background-color: white; 
            color: black; 
        }

        .logout-button {
            position: absolute;
            top: 10px;
            right: 10px;
    </style>
</head>
<body>
    <div class="container">
        <h1 class="header">Farm Central</h1> 

        <div class="logo-container">
            <img src="~/assets/farmer.png" alt="Logo" class="logo"> 
        </div>

        @model PrototypeP1.Models.Product

        @{
            ViewData["Title"] = "Create";
        }

        <h1>Create</h1>

        <h4>Product</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="ProductID" class="control-label"></label>
                        <input asp-for="ProductID" name="PrID" class="form-control" />
                        <span asp-validation-for="ProductID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProductName" class="control-label"></label>
                        <input asp-for="ProductName" name="PrName" class="form-control" />
                        <span asp-validation-for="ProductName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProductDescription" class="control-label"></label>
                        <input asp-for="ProductDescription" name="PrDesc" class="form-control" />
                        <span asp-validation-for="ProductDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProductPrice" class="control-label"></label>
                        <input asp-for="ProductPrice" name="PrPrice" class="form-control" />
                        <span asp-validation-for="ProductPrice" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProductQuantity" class="control-label"></label>
                        <input asp-for="ProductQuantity" name="PrQuantity" class="form-control" />
                        <span asp-validation-for="ProductQuantity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProductSupplier" class="control-label"></label>
                        <input asp-for="ProductSupplier" name="PrSupp" class="form-control" />
                        <span asp-validation-for="ProductSupplier" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AddedBy" class="control-label"></label>
                        <input asp-for="AddedBy" name="PrAdd" class="form-control" />
                        <span asp-validation-for="AddedBy" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateAdded" class="control-label"></label>
                        <input asp-for="DateAdded" name="PrDA" class="form-control" />
                        <span asp-validation-for="DateAdded" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
        <form id="logoutForm" method="post" asp-action="Login" asp-controller="Employee" class="logout-button">
            <button type="submit">Logout</button>
        </form>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>

        @section Scripts {
            @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
        }
    </div>
</body>
</html>
